@(createForm: Form[Server], user: User, language: play.api.i18n.Lang)
@import helper._
@import helper.twitterBootstrap._
@main("Create new server", user, language) {
	@helper.form(action = routes.ServerController.save()) {
		<fieldset>
			@helper.inputText(createForm("ip"))
			@helper.inputText(createForm("name"))
			@helper.inputText(createForm("physicalLocation"))
			@helper.inputText(createForm("details"))			
		</fieldset>
		<p><input type="submit" class="btn primary" value='@Messages("views.server.create.submit")'></p>
	}
}