@(server: com.mongodb.casbah.Imports.DBObject)

@main("Server details") {
    <table class="table table-hover">
      <!--<thead>
        <tr>
          <th>Name</th>
          <th>Details</th>
        </tr>
      </thead>-->
      <tbody>
        <tr>
          <td>Name</td>
          <td>@server.get("name")</td>
        </tr>
        <tr>
          <td>IP address</td>
          <td>@server.get("ip")</td>
        </tr>
        <tr>
          <td>Physical location</td>
          <td>@server.get("physicalLocation")</td>
        </tr>
        <tr>
          <td>Details</td>
          <td>@server.get("details")</td>
        </tr>
      </tbody>
    </table>
}