@(server: models.Server, user: User, language: play.api.i18n.Lang)

@main("Server details", user, language) {
    <table class="table table-hover">
      <!--<thead>
        <tr>
          <th>Name</th>
          <th>Details</th>
        </tr>
      </thead>-->
      <tbody>
        <tr>
          <td>@Messages("views.server.view.name")</td>
          <td>@server.name</td>
        </tr>
        <tr>
          <td>@Messages("views.server.view.ip")</td>
          <td>@server.ip</td>
        </tr>
        <tr>
          <td>@Messages("views.server.view.location")</td>
          <td>@server.physicalLocation</td>
        </tr>
        <tr>
          <td>@Messages("views.server.view.details")</td>
          <td>@server.details</td>
        </tr>
      </tbody>
    </table>
}