@(form: Form[(String, String)], language: play.api.i18n.Lang)(implicit flash: Flash)
@loginMain("Log in", language) {
  <div class="form-signin">
    <h2 class="form-signin-heading">@Messages("views.login.signin")</h2>
    
    @helper.form(routes.Login.authenticate){
      
      <p>
        <input type="email" id="email" name="email" placeholder="Email" class="input-block-level" placeholder="Email" value="@form("email").value" autofocus>
      </p>
      <p>
        <input type="password" name="password" id="password" class="input-block-level" placeholder="Password">
      </p>
      <!--<label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
      </label>-->
      <p>
        <button type="submit" id="loginbutton" class="btn btn-primary">@Messages("views.login.submit")</button>
      </p>
    }
  </div>
}